<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title>Login</title>
</head>
<body>
    <main>
        <form method="post" action="/login">
            <h1>Login Now</h1>
            
            <label for="email">EMAIL</label>
            <input type="text" name="email" placeholder="Email" value="<%= locals.email %>"/>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password"/>

            <!-- <p class ="error"><%= message %></p> -->
            <button type="submit" name="submit">Log In</button>
        </form>
    </main>
    
</body>
</html>