<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title>Login</title>
</head>
<body>
    <main>
        <form method="post" action="/register">
            <h1>Register Now</h1>
            <label for="NAME">NAME</label>
            <input type="text" name="NAME" placeholder="NAME"/>
            <br>
            <label for="email">EMAIL</label>
            <input type="text" name="email" placeholder="email"/>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit" name="submit">Sign up</button>
        </form>
    </main>
    
</body>
</html>